<%= form_with(model: tax_information, local: true) do |form| %>
  <% if tax_information.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(tax_information.errors.count, "error") %> prohibited this tax_information from being saved:</h2>

      <ul>
        <% tax_information.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :w2_wages %>
    <%= form.number_field :w2_wages %>
  </div>

  <div class="field">
    <%= form.label :capital_gains %>
    <%= form.number_field :capital_gains %>
  </div>

  <div class="field">
    <%= form.label :unemployment_insurance %>
    <%= form.number_field :unemployment_insurance %>
  </div>

  <div class="field">
    <%= form.label :self_employment %>
    <%= form.number_field :self_employment %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
